 * {

     box-sizing: border-box;
 }

 body,
 h1,
 h2,
 p {
     margin: 0;
     padding: 0;
 }

 body {
     text-align: center;
     background-color: rgb(126, 203, 148);
     display: grid;
     justify-content: center;
     /* align-items: center; */
     min-height: 100vh;
 }

 h1 {
     margin-top: 3rem;
     margin-bottom: 2rem;
 }

 .players p {
     font-size: 1.25rem;
 }

 .board {
     position: relative;
     /* padding-top: 2rem; */
     width: 400px;
     height: 400px;
     /* margin: auto; */
     background-color: green;
     border: 8px solid darkgreen;

 }

 .zilch {
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     width: 300px;
     height: 200px;
     background-color: rgb(84, 84, 84);
     color: white;
     border-radius: 16px;
     visibility: hidden;
     z-index: 5;
 }

 .zilch button {
     position: absolute;
     left: 125px;
     bottom: 20px;
 }

 .keep {
     /* display: grid; */
     /* justify-content: center; */
     /* height: 150px; */
     /* border: 3px solid lightgreen; */
     /* margin-top: 2rem; */
 }

 .rolled,
 .keep {
     display: grid;
     justify-content: space-evenly;
     grid-template-columns: repeat(6, 1fr);
     align-items: center;
     height: 100px;
     /* border: 3px solid lightgreen; */
 }

 .rolled {
     border-bottom: 3px solid darkgreen;
 }

 .rolled-dice,
 .kept {
     display: flex;
     justify-content: center;
     align-items: center;
     margin: auto;
     width: 50px;
     height: 50px;
     background-color: darkgreen;
     color: white;
     font-size: 30px;
     font-weight: 700;

 }

 .middle {
     display: flex;
     padding-top: 12px;
     padding-bottom: 12px;
     border-top: 3px solid darkgreen;
     border-bottom: 3px solid darkgreen;
 }

 .middle p {
     /* display: inline; */
     font-size: 1.5rem;
     color: lightgreen;
 }

 .possible-score {
     font-size: 24px;
     color: white;
 }

 .points-rolled {
     display: flex;
     padding-top: 16px;
 }

 .roll-btn,
 .stay-btn {
     font-size: 1.5rem;
     padding: 6px 24px;
 }

 @media screen and (min-width: 625px) {
     .board {
         width: 600px;
         height: 600px;
     }

     .rolled,
     .keep {
         height: 150px;
     }

     .rolled-dice,
     .kept {
         width: 75px;
         height: 75px;
     }

     .middle {
         padding-top: 24px;
         padding-bottom: 24px;
         /* border-top: 3px solid darkgreen; */
         /* border-bottom: 3px solid darkgreen; */
     }
 }

 @media (min-width: 825px) {
     .board {
         width: 800px;
         height: 600px;
     }
 }